H1 {
	Font-Size: Large;

	Margin-Bottom: 0;
	Border-Bottom: Thin Solid LightSeagreen;
}

H1::Before {
	Content: "";
	
	Display: Inline-Block;
	
	Margin-Right: 0.5em;
	Border: 0.75em Solid Transparent;
	Border-Color: Transparent LightSeagreen LightSeagreen Transparent;
	
	Vertical-Align: Bottom;
}



Main {
	Padding: 1rem;
}

Main > Article {
	White-Space: Pre-Line;
}