RTR-Base {
	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;

	Width: 100%;
	Height: 100%;
}

RTR-Score {
	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;

	Width: 100%;
	Height: 20vh;
}

RTR-Score-Scorebar:Before {
	Content: "";

	Display: Block;
	Height: 100%;

	Background: Linear-Gradient(90deg, Orange, DarkOrange);
	Border-Radius: 1pc;
}

RTR-Score-Scorebar {
	Display: Block;
	Width: 100%;
	Height: 50%;

	Background: Gray;
	Border: Medium Solid White;
	Border-Radius: 1pc;
}

RTR-Playzone {
	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;

	Width: 100%;
	Height: 100%;

	Padding: 2vh;
}

RTR-ToneStream {
	Position: Absolute;

	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;

	Height: 75vh;

	Transform-Origin: 7.5vh 7.5vh;
}

RTR-ToneStream:Before {
	Content: "";

	Display: Block;
	Flex: 1;
}

RTR-ToneStream-EndPoint {
	Content: "";

	Display: Block;
	Width: 15vh;
	Height: 15vh;

	Background: URL("assets/images/Icon.png") Center / Cover;
	Border: 1vh Ridge #FF6644;
	Border-Radius: 100%;

	Box-Sizing: Border-Box;
}



RTR-Tone {
	Display: Block;

	Background: Transparent Center / Cover;
	Border-Radius: 100%;
}

RTR-Tone:Before {
	Content: "";

	Display: Block;
	Padding-Top: 100%;
}

RTR-Tone {
	Transition-Property: Top, Width;
	Transition-Duration: 2s;
	Transition-Timing-Function: Linear;

	Position: Absolute;
	Top: 0;
	Width: 0;
	Z-Index: -1;

	Border: 0.75vh Outset #FF4466;
}

RTR-Tone[Streaming] {
	Top: 120vh;
	Width: 30vh;
}