RTR-Base {
	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;
	
	Width: 100%;
	Height: 100%;
}

RTR-Tone:Before, RTR-Tone-CenterToneSign:Before {
	Content: "";

	Display: Block;
	Padding-Top: 100%;
}

RTR-Tone, RTR-Tone-CenterToneSign {
	Background: Transparent Center / Cover;
	
	Border: Thin Solid Red;
	Border-Radius: 100%;
}

RTR-Score {
	Display: Flex;
	Flex-Direction: Column;
	Align-Items: Center;

	Width: 100%;
	Height: 15%;

	Background-Image: Linear-Gradient(-45deg, RGBA(255, 255, 255, 0.5) 25%, Transparent 25%, Transparent 50%, RGBA(255, 255, 255, 0.5) 50%, RGBA(255, 255, 255, 0.5) 75%, Transparent 75%, Transparent);
	Background-Size: 0.25pc 0.25pc;
}