* {
	Box-Sizing: Border-Box;
}

HTML, Body {
	Height: 100%;
}

Body {
	Margin: 0;
}



RTR-Base {
	Display: Flex;
	Flex-Direction: Row;
	Justify-Content: Center;
	Align-Items: Baseline;
	Width: 100%;
	Height: 100%;
}

RTR-Tone:Before, RTR-Tone-CenterToneSign:Before {
	Content: "";

	Display: Block;
	Padding-Top: 100%;
}

RTR-Tone, RTR-Tone-CenterToneSign {
	Background: Transparent Center / Cover;
	
	Border: Thin Solid Red;
	Border-Radius: 100%;
}