* {
	Box-Sizing: Border-Box;
}

Body {
	Color: #EEE;
	Font: 14px/2 "メイリオ", Meiryo, Osaka;

	BackGround: URL("https://genbuproject.github.io/Image/Back.jpg");
}

A {
	Color: Chartreuse;
	Text-Decoration: None;
}