/*フォント設定開始*/
@Font-Face {
	Font-Family: "Hall Fetica";
	Src: URL("https://genbuproject.github.io/Genbu-Project-Official-Site/Fonts/Hall Fetica/Hall Fetica.ttf");
}

* {
	Font-Family: "Hall Fetica", "メイリオ";
}
/*フォント設定終了*/