Body {
	BackGround: URL("https://genbuproject.github.io/Genbu-Project-Official-Site/Too Many Tags/Back.jpg");
	Color: #EEEEEE;
	Font: Medium "Meiryo";
}

Audio {
	Position: Absolute;
	Left: 0px;
}

Header {
	Text-Align: Right;
	Font-Size: Small;
}