/*ダイアログ設定開始*/
.DialogBack {
	Position: Fixed;
	Top: 0;
	Left: 0;
	
	Width: 100%;
	Height: 100%;
	
	BackGround: Black;
	Opacity: 0.5;
	Z-Index: 0;
}

.DialogFront {
	Position: Fixed;
	Top: 0;
	Left: 0;
	
	Width: 40%;
	Height: 50%;
	Padding: 1%;
	
	BackGround: White;
	Opacity: 1;
	Z-Index: 1;
	
	Border-Radius: 10px 10px 0 0;
}

.DialogFront > Name, .DialogFront > Content {
	Color: Black;
}

.DialogFront > Name {
	Font-Weight: Bold;
}

.DialogFront > Content {
	
}

.DialogFront > Footer {
	Position: Absolute;
	Top: 90%;
	Left: 0;
	
	Display: Flex;
	Width: 100%;
	Height: 10%;
	
	Align-Items: Stretch;
	
	Border-Top: Thin Solid Black;
}
/*ダイアログ設定終了*/
