/*フォント設定(VOEZ用)開始*/
@Font-Face {
	Font-Family: "Hall Fetica";
	Src: URL("https://genbuproject.github.io/Genbu-Project-Official-Site/Fonts/Hall Fetica/Hall Fetica.ttf");
}

Body {
	Height: 100%;
	Font-Family: "Hall Fetica", "Meiryo";
}
/*フォント設定(VOEZ用)終了*/



PPanel {
	Display: Block;
	
	Transform: Rotate(45deg);
}

Panel {
	Display: Flex;
	
	Position: Relative;
	Margin: 0px 0px 0px -3px;
	Border: 3px Solid #6C6D8D;
	Float: Left;
	
	Color: #6C6D8D;
	Font-Size: XX-Large;
}

.NormalPanel {
	Width: 219px;
	Height: 219px;
}

.LargePanel {
	Width: 630px;
	Height: 630px;
}

.Top Content {
	Margin: 0;
}

.Bottom {
	
}

.Left {
	
}

.Right {
	
}

Content {
	Width: 100%;
	
	Margin: Auto;
	White-Space: NoWrap;
	Text-Align: Center;
	
	Transform: Rotate(-45deg);
}

Content Img {
	
}